.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #618635, #cfe05dad);
}* {
  box-sizing: border-box;
}

/* Card */
.login-box {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Heading */
.login-box h2 {
  margin-bottom: 20px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 10px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #00c6ff;
}